.results {
  display: grid;
  margin: 0 auto;

  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 30px;
}
